/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */

:root {
    --font-size-title: 24px;
    --font-size-description: 16px;
    --font-size-button: 18px;
    --color-main-background: #E5E5E5;
    --color-main-title: #000000;
    --color-card-background: #FFFFFF;
    --color-main-text: #2F2F2F;
    --color-active-btn: #1F5200;
    --color-hover-btn: #42940F;
    --color-disabled-btn: #4E4E4E;
    --color-product-last: #FFCF56;
    --color-product-new: #FDCFF3;
}

html, body {
    margin: 0;
    padding: 0;
}

.week-goods {
    padding: 64px 10px;
    font-family: Arial, serif;
    color: var(--color-main-text);
    background-color: var(--color-main-background);
}

.week-goods__title {
    margin-bottom: 37px;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    align-items: center;
    text-align: center;
    color: var(--color-main-title);
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 482px;
    box-shadow: 0 0 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    background-color: var(--color-card-background);
}

.product-card__picture {
    height: 213.75px;
    background: url(image.png);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product-card__labels {
    display: flex;
    margin: 16px;
    gap: 16px;
    font-size: var(--font-size-description);
}

.product-card__label {
    margin: 0;
    padding: 5px 17px 3px 16px;
    border-radius: 8px;
    text-transform: uppercase;
}

.product-card__label_new {
    background-color: var(--color-product-new);
}

.product-card__label_low-stock {
    background-color: var(--color-product-last);
}

.product-card__info {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: 268px;
}

.product-card__title {
    margin: 24px 0 0;
    font-weight: 900;
    font-size: var(--font-size-title);
    line-height: 38px;
    text-align: left;
}

.product-card__description {
    font-weight: 400;
    font-size: var(--font-size-description);
    line-height: 24px;
}

.product-card__button_container {
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
}

.product-card__button {
    margin-bottom: 24px;
    box-sizing: border-box;
    width: 332px;
    height: 48px;
    font-size: var(--font-size-button);
    font-weight: 900;
    border: 2px solid;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background-color, color, 500ms;
}

.product-card__button--available {
    border-color: var(--color-hover-btn);
    background-color: var(--color-card-background);
    cursor: pointer;
    color: var(--color-hover-btn);
}

.product-card__button--available:hover {
    border-color: var(--color-hover-btn);
    background-color: var(--color-hover-btn);
    color: var(--color-card-background);
}

.product-card__button--available:active {
    border-color: var(--color-active-btn);
    background-color: var(--color-active-btn);
    color: var(--color-card-background);
}

.product-card__button--disabled {
    border-color: var(--color-disabled-btn);
    background-color: var(--color-disabled-btn);
    cursor: not-allowed;
    color: var(--color-card-background);
}